<form (ngSubmit)="guardar()" #barcoForm="ngForm">
  <div>
    <label for="txtVelocidadX">Velocidad X:</label>
    <input type="number" name="velocidadX" [(ngModel)]="barco.velocidadX" #velocidadX="ngModel"
           id="txtVelocidadX" step="1" min="-10" max="10" required>
    @if (velocidadX.invalid && velocidadX.touched) {
      <p class="error">
        @if (velocidadX.errors?.['required']) {
          La velocidad X no debe ser vacía
        }
        @if (velocidadX.errors?.['min']) {
          La velocidad X debe ser mayor o igual a -10
        }
        @if (velocidadX.errors?.['max']) {
          La velocidad X debe ser menor o igual a 10
        }
      </p>
    }
  </div>
  
  <div>
    <label for="txtVelocidadY">Velocidad Y:</label>
    <input type="number" name="velocidadY" [(ngModel)]="barco.velocidadY" #velocidadY="ngModel"
           id="txtVelocidadY" step="1" min="-10" max="10" required>
    @if (velocidadY.invalid && velocidadY.touched) {
      <p class="error">
        @if (velocidadY.errors?.['required']) {
          La velocidad Y no debe ser vacía
        }
        @if (velocidadY.errors?.['min']) {
          La velocidad Y debe ser mayor o igual a -10
        }
        @if (velocidadY.errors?.['max']) {
          La velocidad Y debe ser menor o igual a 10
        }
      </p>
    }
  </div>
  
  <div>
    <label for="txtPosicionId">Posición ID:</label>
    <input type="number" name="posicionId" [(ngModel)]="barco.posicionId" #posicionId="ngModel"
           id="txtPosicionId" min="1" required>
    @if (posicionId.invalid && posicionId.touched) {
      <p class="error">
        @if (posicionId.errors?.['required']) {
          La posición ID no debe ser vacía
        }
        @if (posicionId.errors?.['min']) {
          La posición ID debe ser mayor a 0
        }
      </p>
    }
  </div>
  
  <div>
    <label for="txtModeloId">Modelo ID:</label>
    <input type="number" name="modeloId" [(ngModel)]="barco.modeloId" #modeloId="ngModel"
           id="txtModeloId" min="1" required>
    @if (modeloId.invalid && modeloId.touched) {
      <p class="error">
        @if (modeloId.errors?.['required']) {
          El modelo ID no debe ser vacío
        }
        @if (modeloId.errors?.['min']) {
          El modelo ID debe ser mayor a 0
        }
      </p>
    }
  </div>
  
  <div>
    <label for="txtJugadorId">Jugador ID:</label>
    <input type="number" name="jugadorId" [(ngModel)]="barco.jugadorId" #jugadorId="ngModel"
           id="txtJugadorId" min="1" required>
    @if (jugadorId.invalid && jugadorId.touched) {
      <p class="error">
        @if (jugadorId.errors?.['required']) {
          El jugador ID no debe ser vacío
        }
        @if (jugadorId.errors?.['min']) {
          El jugador ID debe ser mayor a 0
        }
      </p>
    }
  </div>
  
  <div>
    <label for="txtTableroId">Tablero ID:</label>
    <input type="number" name="tableroId" [(ngModel)]="barco.tableroId" #tableroId="ngModel"
           id="txtTableroId" min="1" required>
    @if (tableroId.invalid && tableroId.touched) {
      <p class="error">
        @if (tableroId.errors?.['required']) {
          El tablero ID no debe ser vacío
        }
        @if (tableroId.errors?.['min']) {
          El tablero ID debe ser mayor a 0
        }
      </p>
    }
  </div>
  
  <button type="submit">Guardar</button>
</form>