<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barcos List</title>
</head>
<body>
    <h1>Barcos List </h1>
    

    <a th:href="@{/barco/create-form}">Crear Barco</a>

    <table>
        <thead>
            
        <tr>
            <th>Velocidad</th>
            <th>Ver</th>
            
        </tr>
        </thead>
        <tbody>
        <tr th:each="barco : ${listadoBarcos}">
            <td th:text="${barco.velocidad}"></td>
            <td><a th:href="@{/barco/view/{idBarco}(idBarco=${barco.id})}">Ver</a></td>
            
        </tr>
    </tbody>
 </table>
    
</body>
</html>